
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  padding-left: 30px;
}

table {
  display: table;
  padding-left: 30px;
}


th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: center;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  text-align: left;
  font-size: 13px;
}

p {
  margin: 33px;
  line-height: 18px;
  margin-bottom: 15px;
  font-size: 13px;
}

.link {
padding-left: 20px;
font-size: 13px;
}